/* ADD ANY USEFUL TIPS, otherwise ... DO NOT FUCK WITH THE COMMENTS. please and thank you. */

/* SPECIFICITY: p=1  div=1  .=10  #=100    (all <p> elements,div,class,id) */
/* PADDING/MARGIN: top, right,bottom,left   OR    top, right and left, bottom   OR   top and bottom, right and left   OR   all */
html {
	position: relative;
	min-height: 100%;
	background-color: white;
	font-family: "Century Gothic"; /* http://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows */
}	
body {
	margin: 0 0 50px; /* bottom = footer height */
}
.header {
	background-color: gold;
	color: #444;
	text-align: center;
	padding: 1px;
	position: relative;
	z-index: 1; /* All divs start with zero, this allows the header to stay above other divs for the shadow effect */
}
.footer {
    background-color: gold;
    color: #444;
	text-align: center;
	vertical-align: text-top;
    position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;  
	padding-bottom: 5px;
	/*z-index: 1;*/
}
.moveleft {
	margin: 0px 5px 0px 0px;
}
.home {
	margin: auto;
}
.logout {
	margin: auto;
}
.centerhome{
	margin-left: auto;
	margin-right: auto;
	width: 51.5px;
	left: 300px;
}
.centerlogout{
	margin-left: auto;
	margin-right: auto;
	width: 55.5px;
	left: 300px;
}
.centerbuttons {
	margin-left: auto;
	margin-right: auto;
	width: 126.5px;
	left: 300px;
}
.centerhomelogout {
	margin-left: auto;
	margin-right: auto;
	width: 126.5px;
	left: 300px;
}
.centeradminlogout {
	margin-left: auto;
	margin-right: auto;
	width: 55px;
	left: 300px;
}
.centeradminapps {
	margin-left: auto;
	margin-right: auto;
	width: 182px;
	left: 300px;
}
.centerbuttonsgrad {
	margin-left: auto;
	margin-right: auto;
	width: 126.5px;
	left: 300px;
}
.centerbuttonscourses {
	margin-left: auto;
	margin-right: auto;
	width: 126.5px;
	left: 300px;
}
.centerbuttonsindex {
	margin-left: auto;
	margin-right: auto;
	width: 205px;
	left: 300px;
}
.centerbuttonsreg {
	margin-left: auto;
	margin-right: auto;
	width: 204.5px;
	left: 300px;
}
.centerbuttonsadmin {
	margin-left: auto;
	margin-right: auto;
	width: 204.5px;
	left: 300px;
}
.fixadminlogout {
	display: inline-block;
}
.centerpls {
	margin: auto;
	width: 600px;
}
.centerplsgrad {
	margin: auto;
	width: 600px;
}
.centerplscourses {
	margin: auto;
	width: 600px;
}
.centerplssemester {
	margin: auto;
	width: 600px;
}
.centerplsaddprof {
	margin: auto;
	width: 600px;
}
.centerplscc {
	margin: auto;
	width: 600px;
}
.centerplsindex {
	margin: auto;
	width: 600px;
}
.centerplsreg {
	margin: auto;
	width: 600px;
}
.centerplsadmin {
	margin: auto;
	width: 600px;
}
.centerplsprof {
	margin: auto;
	width: 600px;
}
.centerplssc {
	margin: auto;
	width: 600px;
}
.centerplsscheader {
	margin: auto;
	width: 151px;
}
.centerimage {
	margin: auto;
	width: 500px;
}
.centertext {
	margin-left: auto;
	margin-right: auto;
	width: 376px;
}
.centertextint {
	margin-left: auto;
	margin-right: auto;
	width: 487px;
}
.centertextint2 {
	margin-left: auto;
	margin-right: auto;
	width: 348px;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.smallgato {
	font-size: 12px;
}
.smallspeak {
	font-size: 12px;
}
.bigspeak {
	font-size: 22px;
}
.smallcourse {
	font-size: 12px;
}
.tapla {
	display: inline;
}
.onesemester {
	display: inline;
}
.shadowfooter {
	-moz-box-shadow:    0px 7px 20px 5px black;
	-webkit-box-shadow: 0px 7px 20px 5px black;
	box-shadow:         0px 7px 20px 5px black;
}
.shadowheader {
	-moz-box-shadow:    0px -7px 20px 5px black;
	-webkit-box-shadow: 0px -7px 20px 5px black;
	box-shadow:         0px -7px 20px 5px black;
}
.shadowbox {
	border: 1px solid #999;
	-moz-box-shadow: 	0px 3px 15px 0px black;
	-webkit-box-shadow: 0px 3px 15px 0px black;	
	box-shadow: 		0px 3px 15px 0px black;
}
.name{
	width: 200px;
	margin-left: 15%;
	float: left;
}
.numb{
	float:left;
	width:66px;
	margin-left: 35px;
}
.button{
	vertical-align: top;
}
.added{
	background: #66FF66;
}
.adding{
	background: #FFFF5C;
}
.remove{
	background: #FF4D4D;
}
.coursewidth1 {
	width: 605px;
}
.coursewidth2 {
	width: 605px;
}
.coursewidth3 {
	width: 605px;
}
.courseml {
	margin-left: 5px;
}