/* ADD ANY USEFUL TIPS, otherwise ... DO NOT FUCK WITH THE COMMENTS. please and thank you. */

/* SPECIFICITY: p=1  div=1  .=10  #=100    (all <p> elements,div,class,id) */
/* PADDING/MARGIN: top, right,bottom,left   OR    top, right and left, bottom   OR   top and bottom, right and left   OR   all */
html {
	position: relative;
	min-height: 100%;
	background-color: white;
	font-family: "Century Gothic"; /* http://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows */
}	
body {
	margin: 0 0 50px; /* bottom = footer height */
}
.header {
	background-color: gold;
	color: #444;
	text-align: center;
	padding: 1px;
	position: relative;
	z-index: 1; /* All divs start with zero, this allows the header to stay above other divs for the shadow effect */
}
.footer {
    background-color: gold;
    color: #444;
	text-align: center;
	vertical-align: text-top;
    position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;  
	padding-bottom: 5px;
	/*z-index: 1;*/
}
.personal {
	background-color: white;
	padding: 5px;  			
}
.studentinfo {
	background-color: white;
	padding: 5px;  			
}
.gato {
	background-color: white;
	padding: 5px;  			
}
.displaynone {
	display: none;
}
.onemp {
	margin: 1px;
	padding: 1px;
}
.leftlabel {
	display: inline-block;
    float: left;
	margin: 0 0 0 10px;
    width: 350px;
    text-align: left;
}
.centerdisplay {
	margin-left: 29%;
}
.centerpls {
	width: auto;
	margin-left: auto ;
	margin-right: auto ;
}
.toppadding5 {
	padding: 5px 0 0 0;
}
.nextbutton {
	margin-left: 57.5%;
}
.niceinput {
	display: inline-block;
}
.niceradio {	
	display: inline-block;
}
.tempradiofix {
	margin: 0 0 0 365px; /* temp fix until I can properly align the radio buttons */
}
.shadowfooter {
	-moz-box-shadow:    0px 7px 20px 5px black;
	-webkit-box-shadow: 0px 7px 20px 5px black;
	box-shadow:         0px 7px 20px 5px black;
}
.shadowheader {
	-moz-box-shadow:    0px -7px 20px 5px black;
	-webkit-box-shadow: 0px -7px 20px 5px black;
	box-shadow:         0px -7px 20px 5px black;
}